body
{
    text-align:center;
    overflow-x:hidden;
    font-family: "Microsoft YaHei", Tahoma, Verdana, SimSun, monospace;
    background-color: whitesmoke;
}

#wrapper
{
    position: absolute;
    z-index: 4;
    left: 200px;
    top: 29px;
    opacity: 0.6;
}

#content
{
    position: absolute;
    z-index: 2;
    left: 200px;
    top: 265px;
    width: 711px;
    min-height: 400px;
    height: auto;
    background-color: #ffffef;
}

#content #text
{
    z-index:2;
    font-size:16px;
    color:black;
    width:700px;
    text-align:left;
    text-indent:30px;
}

a
{
    outline: none;
}

#side_content
{
    position: absolute;
    z-index: 3;
    margin-left: 19.9cm;
    margin-top: 3px;
    line-height: 35px;
    font-size: 13px;
    float: right;
    left: 172px;
    top: 78px;
    background-color: #ffffef;
    height: auto;
    width: 234px;
}

#classify_by_time
{
    position: absolute;
    z-index: 2;
    left: 1px;
    top: 130px;
    width: 234px;
    background-color: #ffffef;
}

#side_content a:hover
{
    color:red;
}

#content .title
{
    color: #00BFFF;
    background: radial-gradient(100% 120% at bottom right, #ffd0e5, #fff5bb);
    text-decoration: none;
    font-size:24px;
    outline: none;
}

#content a:hover
{
    color:red;
    background: none;
    cursor:pointer;
}

.searchtxt
{
    font-family: "Microsoft YaHei", Tahoma, Verdana, SimSun, monospace;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    padding: 4px;
    font-size:15px;
    outline: invert none medium;
    border-radius: 3px;
    margin-right:8px;
    border: 1px solid #ccc;
}
.searchtxt:focus
{
    border: 1px solid #fafafa;
    box-shadow: 0 0 5px #007eff;
}

#to_top
{
    position: absolute;
    z-index: 4;
    left: 32cm;
    top: 14cm;
    opacity: 0.8;
    cursor:pointer;
    display:none;
}

#new_article
{
    position: absolute;
    z-index: 2;
    background-color: #ffffef;
    top: 713px;
    width: 235px;
}

#new_article a
{
    outline: none;
}

h3
{
    text-shadow:3px 3px 5px #F90;
}

.username
{
    position: absolute;
    z-index: 3;
    padding: 20px 10px 0 10px;
    transition-property: width,height,transform;
    transition-duration: 1s;
    transition-timing-function:ease-out;
    border-radius: 5px;
    left: 258px;
    top: 88px;
}

.username:hover
{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    width:auto;
    height:auto;
    font-size:16px;
}

#myinfodiv
{
    transition-property: width, left;
    transition-duration: 0.5s;
    position: absolute;
    z-index: 2;
    left: 97%;
    width: 3%;
    min-height: 50px;
    top: 82px;
    background-color: #00DFFF;
    color: white;
    font-weight: bold;
}

#myblog a
{
    font-weight: bolder;
    color: #2b9fff;
    background-color: white;
}

#newblogdiv
{
    position: absolute;
    z-index: 2;
    left: 400px;
    top: 185px;
}

#newblogdiv li
{
    float: left;
    padding-left: 10px;
    outline-style: none;
}

#newblogdiv a
{
    outline-style: none;
}

#newblogdiv a:hover
{
    color: red;
}

#controldiv
{
    position: absolute;
    z-index: 2;
    width: 711px;
    background-color: #ffffef;
    left: 200px;
    height: 175px;
    top: 83px;
}

#controldiv button
{
    opacity: 0.3;
    margin-top: 68px;
    margin-left: 45px;
}

#controldiv button:hover
{
    opacity: 1;
}

#infosummarydiv
{
    position: absolute;
    z-index: 2;
    left: 2px;
    width: 234px;
    background-color: #ffffef;
}

#infosummarydiv div
{
    width: 120px;
    height: 35px;
    margin-left: 56px;
}

#infosummarydiv div:hover
{
    background-color: #fafad7;
    cursor: default;
}