HTML { padding:0px; margin:0px; }
HTML, BODY, UL { padding:0px; margin:0px; }
A { COLOR: #000; TEXT-DECORATION: none }
A:hover {TEXT-DECORATION: none }
A IMG { BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px }
UL { LIST-STYLE: none none outside; }
.lavaLamp { POSITION: relative; FLOAT: left; margin-left:12px; }
.lavaLamp LI { TEXT-ALIGN: center; LINE-HEIGHT: 43px; LIST-STYLE-TYPE: none; WIDTH: 103px; FLOAT: left }
.lavaLamp LI.back { Z-INDEX: 1; POSITION: absolute; WIDTH: 103px; BACKGROUND: url(../../images/hover.jpg) no-repeat center center; HEIGHT: 43px; line-height:43px; }
.lavaLamp LI A { Z-INDEX: 2; POSITION: relative; FONT-VARIANT: small-caps; WIDTH: 103px; DISPLAY: block; color:#FFF; HEIGHT: 43px; line-height:43px; FONT-SIZE:10.5pt; TEXT-DECORATION: none }
.lavaLamp LI A:hover { COLOR: #0787D0; font-weight: bold; }
.lavaLamp LI.current-cat A { COLOR:#006600; font-weight: bold; background-image:none; }
#wrapper { BACKGROUND: url(../../images/nav_bj.jpg) no-repeat left center; width:960px; height:43px; display:block; margin:0 auto; }
